body{height: 98vh;}
#wrapper{height:100%;overflow-y: auto;}
/**
    common layouts
**/
.horizontal-layout{display:flex;}
/**
    un produit unique 
    produit/produit.php
**/
#produit-unique hr{margin:5px 15%;padding:5px 20px; }
#produit-unique{border-bottom: 2px double grey; }
.produit-unique-image{min-width: 300px;max-width: 30%;min-height:60vh; text-align: center;padding: 10px 20px;}
.produit-unique-image>*{vertical-align: middle;}
.produit-unique-center{flex-grow: 1;padding: 10px 30px;}
.produit-unique-center h3{text-decoration:underline;}
.produit-unique-prix{padding-top: 20px;font-weight:900; font-size: xx-large; color: skyblue;}
.produit-unique-admin-buttons{display:flex;flex-direction:column; justify-content: space-around;padding: 10px 10px;}
/**
    liste produits
**/
.produit-liste{width:80%;margin-left:10%;}
.produit-liste th{text-align: center;}
.produit-liste-image{padding: 5px 10px;text-align: center;width:300px}
.produit-liste-image>img{height:128px; max-width: 256px; size:auto;}
.produit-liste-buttons{text-align: center;}